@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    padding-top: 10px;
    max-width: 80vw;
    height: 62px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: red;
    width: 154px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.hero .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seperation {
    height: 7px;
    background-color: grey;

}

.btn {
    padding: 10px 10px 5px 10px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    padding: 10px 24px;
    font-size: 24px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    width: 200px;
    border: 1px solid red;
}

.main input {
    width: 300px;
    border-radius: 8px;
    color: white;
    padding: 0px 24px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    margin-right: 8px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 10px 10px 5px 10px;
    border: 1px solid red;
}

.hero .details {
    display: flex;
    flex-direction: row;
}

@media (max-width: 720px) or (max-width: 768px) {
    .main {
        height: 80vh;
    }

    .main .box {
        height: 80vh;
    }

    .hero .details {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

.suggestions {
    max-width: 80vw;
    margin: auto;
    padding-top: 30px;
}

.suggestions .first {
    padding: 20px 0px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.movies {
    padding: 20px 0px;
    width: 80vw;
    height: 280px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.movies :first-child {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABQ4EfF5TRIjDfgG6Sc7odd8NNTKTnT57H7YBwbifMzAXZ1Hi9cZ9q5cotsGaroP9ZUXGob25WzGK-eASX6lF-Il2rdxYdaUEE6R-WkzcZpqibGHBHpGEVppU7jArhfoRfeX3PoWKawcFAa08dYD8TgJ5I18K7VPnuaMSEEbHxROehYIRkTVueq1NQOse7tKGTtwMJuw403CQ_7ioiC1uXuh7utNSZh2OaBYTCG7jePf4Jvq0cLxFcqi46pv_rXuVLbyYwqLNonsiG008oo_SsxTf6--gDOQ7whC1mfL02igltDtUA7KZ5FYUJq3NBewyZ39ldtdNuk5xNQJR62XBLNb0rSPjiKl7v3GX9L0RpmT62y_z934.webp?r=ead);
    background-repeat: no-repeat;
    z-index: 20;
    transition: transform 0.2s ease-in-out;
}

.movies :nth-child(2) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABaKxz6AlzerittssXQzQOoY28XDWMzKItpTFYmRr7zwdETFNdjJTq07cnHuyq2wXlJXuYF4-831EoXv7_ljk37eB-KwX45gmItk7ggPR3CN3TqK9KrSMciiX_9MvepvycSxIP-wCIsy-wSpYii9axp28pISNWD-Mbfku11dLpfuq7cP9egyG_zYHe7dc0OLfjLLTVxwy74B3h13On0PMmMIbxULMvO5-XXDpt1h_eXEWjFgY32-Rkes0Qjm0AB7KdAZJOAUCIkM4BUyrGX5e2rnmCY6sPSMwu0jcPHW5-I28f559iLfKrRh6j6TZhbRFFYV0u6VmaUWXVjoPRUrPPIo.webp?r=8c7);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(3) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABVnVseCf50-R1462JDaQKvq54J2uOHs-Y936s_nzZTaDMHFsu1gkCuoTmpuVY7sNvUqLdVo709K1CHK9xd4SjwZdZBgodUJ1P5EV1Pze2GjtqjGYvZm2-1e4WXaAXePoSZ4oLPNiXnUx2hx2Wcs9hZ8_9mriWzOQyEE.webp?r=a57);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(4) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABdMWb1uHQB1jbhP-_Qi97BRAKx6Ec4ttRCkk9Axjb3Q2yhYI5V1fZZQlHmpUwl5k4Du7vz4g9hLZMLlIA9qur3LaNP7bTCC_UehSQnA46USjc2MONmH2CXp4m4SQmWkEEeVlp8IGhZC95a-MYAHPFXgt06Ta4mxySMP1Vb1bH8K9js0QsemMOUX7DGlRegnwTTPWeecUPiw5r5LKc8Gl5Kw0XkZRAiQRijBmk0xko67FUOZgbXWcSnPO48IzTV7tqmDqaowqVY03haJEIqwZYqDZo4KD.webp?r=3de);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(5) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABa7a3AAQLd_WpeSg55jY4BA-i8TkPjRxsu8rRU6A9NERZjksylBBDih5D9yIKIihvoE2U-ttmcFa2Jw7EdwjfP3ivxlYNb0xqPaIxC9VbCxh9MsQkaKo3YlTZ05_oF31J4CTd-LostYJ79L-nHnmJZVlFWFG4VsXNnnRNd-JyxVzOClndpbegGnDGzP85bNSSf8om0DSi-8x7QfmS7cscfg2-VBlqWaQJH8f6u5D2yffjTWx3OlU_VECuFLE4go63_-ZvpgomGdthh9YUbxTCRxpOC3y5yEJzW0gukK9JhsB3LVf-d2hJMcIwr7TaWC4q9QE_QXj_ur23pi0q8tuS2LruAHnlYekO4-X63i_czHPsOl8AGo.webp?r=787);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(6) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABcKDZcX_vxop6PC5ZoY_Q3VGfzkGEL01LodrZcC9l6OejfEzYgSrxCoE2lHxCHqnMbmkUbt4p8LM67j1jX2U5Iv2TGDHQE2pyKB5Co6I-sSoSPh8mvoEXnyOIHkOC30IFcQXyTtA02joullMPrtFL8Vs6eDlkCz8g_opTF6C_h4BdyR4gY7mb96s3a_T2paW9xJ1z7ggUI65ROiDAM9m8MXhAnz95VRP63nihWB4gIb-qVKXDVJzygVyeSGH-XxpfvUTnWkXXmc2AGQc_xcFDV1cj25Q.webp?r=508);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(7) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABau0ZI6s_c3G6PbaI79N_VIc-C9xP6EbTjdU6Qa2zkfGI_sc2VqPiiqZY71jkCtyQVCfVbIYCnBgl2JD2DxnCh7laqYm2b9p9vx2b-RKbK03mKX1eDkUJBTaaToqWNhK-rXEl7Nuu_Hc3vMw3GoDyYFnMLtJ632-2Q7ZEy7SlPfspY5M68sHwIk4friDrnA.webp?r=a0a);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(8) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABZ2S1-LzjaFcY6WM_4WJ22cBjq8GUQmhXU4Gy_GvxGqhOyL6th9sOCdGTVEXc_b5aQr7BS2kSpfn_VU5vnQrRDYL96COwggcJWJ_ey0Hv75vVm7vJKszfPxGyhBfGkTtaXlf_EV5X5KXs5znpbd4JjZwIeP5If956xE-VHWIGud1YccbcbRfJ9SbFuwJIFo6jaekrk1fpVhXqpqGp1T3YybGvA4LNmQfOkbjOBl90G4arbIIT8tWCs2ceuwJTp3q6_9aXSNpI0dQiVpWXX-BRESA76hp.webp?r=26c);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(9) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABarv2U9aeW1KMFHxBB87tHoj0Pd3RNQ8qVX8ONOKkGUjlhUerbFb02nqs-iivJPx6Qra9RulN3CwxYE8Qs4anU46TF3edbAUUqERdH66-3zSOLO5Hk3kkKuQjui3vn2a_dhLXswgbjPmAeduSsepk0r2C66p3to3PHYLziyNfVqbBRk4FjQH26Ws7o7N263BK7aYexhZLr5IYSNFuGFKX7O3hSznX0cCxzCrwXAvsSxcTng0CFbA267e95k3Dm_cJ_aXIzYliVXTr9TTFPAnNQGJ5Zzj.webp?r=be5);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :nth-child(10) {
    flex: 0 0 auto;
    box-sizing: border-box;
    font-size: 100px;
    height: 276px;
    width: 197px;
    padding: 150px 0px 0px 0px;
    background-image: url(https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABV2j-enrLYchHDPFFhK5c1AMYxzGvg-HShtb9Yhp1u2eGBhm3ompZQjo5TvwLeP82e924CSCMle6JbdyNZfyG_xAcDWrbJThqpQLEySqw5Fa-ElRUzI7kOQ1eJq-xfcnA-BC6RaOpNhzVXk9-Ksu43RQngGos9LcXOv9H1zdpMb0bC4RgnH-izg_YuKO8gdc7-KugC7HBAwVn44lJckWKhookOGIaRWU3kpAiL5Ag5ZgDDrAarVtOI95tTo8b8mOSm3bQ_hP1onu4uNmhtDrFl9-FpbzC1xC4cblYUjao7unjWCnUq4Ghb6i.webp?r=5da);
    background-repeat: no-repeat;
    z-index: 20;
}

.movies :hover {
    transform: scale(1.12, 1.12);
    transition: transform 0.2s ease-in-out 0s;
}

.info {
    max-width: 80vw;
    margin: auto;
    padding-top: 30px;

}

.info .heading {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.info .boxes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.info .box1 {
    width: 291px;
    height: 324.8px;
    background-color: rgb(43 0 43);
    border-radius: 15px;
}

.info .box1 :first-child {
    padding: 20px 10px;
}

.info .box1 :nth-child(2) {
    box-sizing: border-box;
    padding: 20px 10px;
}

.info .box1 img {
    padding: 30px 0px 0px 180px;
    border: none;
}

.info .box2 {
    width: 291px;
    height: 324.8px;
    background-color: rgb(43 0 43);
    border-radius: 15px;
}

.info .box2 :first-child {
    padding: 20px 10px;
}

.info .box2 :nth-child(2) {
    box-sizing: border-box;
    padding: 20px 10px;
}

.info .box2 img {
    padding: 20px 0px 0px 160px;
    border: none;
}

.info .box3 {
    width: 291px;
    height: 324.8px;
    background-color: rgb(43 0 43);
    border-radius: 15px;
}

.info .box3 :first-child {
    padding: 20px 10px;
}

.info .box3 :nth-child(2) {
    box-sizing: border-box;
    padding: 20px 10px;
}

.info .box3 img {
    padding: 30px 0px 0px 160px;
    border: none;
}

.info .box4 {
    width: 291px;
    height: 324.8px;
    background-color: rgb(43 0 43);
    border-radius: 15px;
}

.info .box4 :first-child {
    padding: 20px 10px;
}

.info .box4 :nth-child(2) {
    box-sizing: border-box;
    padding: 20px 10px;
}

.info .box4 img {
    padding: 10px 0px 0px 180px;
    border: none;
}

.questions {
    max-width: 80vw;
    margin: auto;
    padding-top: 30px;
}

.questions .q1 {
    margin-top: 20px;
    width: 60vw;
    padding: 20px 15px;
    border: 1px solid black;
    background-color: rgba(199, 196, 196, 0.3);
}

.questions .q2 {
    margin-top: 10px;
    width: 60vw;
    padding: 20px 15px;
    border: 1px solid black;
    background-color: rgba(199, 196, 196, 0.3);
}

.questions .q3 {
    margin-top: 10px;
    width: 60vw;
    padding: 20px 15px;
    border: 1px solid black;
    background-color: rgba(199, 196, 196, 0.3);
}

.questions .q4 {
    margin-top: 10px;
    width: 60vw;
    padding: 20px 15px;
    border: 1px solid black;
    background-color: rgba(199, 196, 196, 0.3);
}

.questions .q5 {
    margin-top: 10px;
    width: 60vw;
    padding: 20px 15px;
    border: 1px solid black;
    background-color: rgba(199, 196, 196, 0.3);
}

.questions .q6 {
    margin-top: 10px;
    width: 60vw;
    padding: 20px 15px;
    border: 1px solid black;
    background-color: rgba(199, 196, 196, 0.3);
}

.questions :hover {
    background-color: rgba(199, 196, 196, 0.4);
}

.questions h1 :hover {
    background-color: black;
}

.contact {
    max-width: 80vw;
    margin: auto;
    padding-top: 60px;
}

.contact .details {
    max-width: 80vw;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.contact .details input[type="email"] {
    width: 45vw;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
    margin-right: 8px;
    padding: 0px 24px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 720px) or (max-width: 768px) {
    .contact .details {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .contact .details input[type="email"] {
        width: 60vw;
    }
}

.lastpart {
    max-width: 60vw;
    margin-left: 13vw;
    padding-top: 30px;
}

.lastpart .footer-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lastpart .footer-container .footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lastpart .footer-container .footer-column a {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 720px) or (max-width: 768px) {
    .lastpart .footer-container .footer-column {
        min-width: 60vw;
        display: block;

    }

    .lastpart .footer-container .footer-column a {
        display: block;
        padding: 10px 0px;
    }
}

.footer-btn {
    max-width: 60vw;
    margin-left: 13vw;
    padding-top: 40px;
}

.footer-sen {
    max-width: 60vw;
    margin-left: 13vw;
    padding-top: 30px;
}